In [1]:
pip install -r requirements.txt --quiet

ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: '/System/Volumes/Data/home/conda/feedstock_root/build_artifacts/appnope_1707233003401/work'

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import util_functions as uf

directory = 'CU-BEMS_smart_building energy_and_IAQ_data'

dataframes = uf.restructure_dataframes(uf.get_dataframes(directory))

Processing directory: CU-BEMS_smart_building energy_and_IAQ_data
Found file: 2019Floor6.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2019Floor6.csv
DataFrame for 2019Floor6.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2019Floor6.csv.
Found file: 2019Floor7.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2019Floor7.csv
DataFrame for 2019Floor7.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2019Floor7.csv.
Found file: 2019Floor5.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2019Floor5.csv
DataFrame for 2019Floor5.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2019Floor5.csv.
Found file: 2019Floor4.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2019Floor4.csv
DataFrame for 2019Floor4.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2019Floor4.csv.
Found file: 2019Floor1.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2019Floor1.csv
DataFrame for 2019Floor1.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2019Floor1.csv.
Found file: 2019Floor3.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2019Floor3.csv
DataFrame for 2019Floor3.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2019Floor3.csv.
Found file: 2019Floor2.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2019Floor2.csv
DataFrame for 2019Floor2.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2019Floor2.csv.
Found file: 2018Floor6.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2018Floor6.csv
DataFrame for 2018Floor6.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2018Floor6.csv.
Found file: 2018Floor7.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2018Floor7.csv
DataFrame for 2018Floor7.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2018Floor7.csv.
Found file: 2018Floor5.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2018Floor5.csv
DataFrame for 2018Floor5.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2018Floor5.csv.
Found file: 2018Floor4.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2018Floor4.csv
DataFrame for 2018Floor4.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2018Floor4.csv.
Found file: 2018Floor1.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2018Floor1.csv
DataFrame for 2018Floor1.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2018Floor1.csv.
Found file: 2018Floor3.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2018Floor3.csv
DataFrame for 2018Floor3.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2018Floor3.csv.
Found file: 2018Floor2.csv
Reading CSV file: CU-BEMS_smart_building energy_and_IAQ_data/2018Floor2.csv
DataFrame for 2018Floor2.csv created from CU-BEMS_smart_building energy_and_IAQ_data/2018Floor2.csv.
Found file: Data Source.txt
DataFrame: 2019Floor6 - 'DataFrame Name' column moved
DataFrame: 2019Floor6 - 'Date' column moved
DataFrame: 2019Floor7 - 'DataFrame Name' column moved
DataFrame: 2019Floor7 - 'Date' column moved
DataFrame: 2019Floor5 - 'DataFrame Name' column moved
DataFrame: 2019Floor5 - 'Date' column moved
DataFrame: 2019Floor4 - 'DataFrame Name' column moved
DataFrame: 2019Floor4 - 'Date' column moved
DataFrame: 2019Floor1 - 'DataFrame Name' column moved
DataFrame: 2019Floor1 - 'Date' column moved
DataFrame: 2019Floor3 - 'DataFrame Name' column moved
DataFrame: 2019Floor3 - 'Date' column moved
DataFrame: 2019Floor2 - 'DataFrame Name' column moved
DataFrame: 2019Floor2 - 'Date' column moved
DataFrame: 2018Floor6 - 'DataFrame Name' column moved
DataFrame: 2018Floor6 - 'Date' column moved
DataFrame: 2018Floor7 - 'DataFrame Name' column moved
DataFrame: 2018Floor7 - 'Date' column moved
DataFrame: 2018Floor5 - 'DataFrame Name' column moved
DataFrame: 2018Floor5 - 'Date' column moved
DataFrame: 2018Floor4 - 'DataFrame Name' column moved
DataFrame: 2018Floor4 - 'Date' column moved
DataFrame: 2018Floor1 - 'DataFrame Name' column moved
DataFrame: 2018Floor1 - 'Date' column moved
DataFrame: 2018Floor3 - 'DataFrame Name' column moved
DataFrame: 2018Floor3 - 'Date' column moved
DataFrame: 2018Floor2 - 'DataFrame Name' column moved
DataFrame: 2018Floor2 - 'Date' column moved

In [3]:
print(f"Total dataframes created: {len(dataframes)}")

for name, df in dataframes.items():
    print(f'DataFrame: {name} loaded with shape: {df.shape}')

Total dataframes created: 14
DataFrame: 2019Floor6 loaded with shape: (424169, 31)
DataFrame: 2019Floor7 loaded with shape: (525600, 31)
DataFrame: 2019Floor5 loaded with shape: (525600, 31)
DataFrame: 2019Floor4 loaded with shape: (525600, 31)
DataFrame: 2019Floor1 loaded with shape: (525600, 13)
DataFrame: 2019Floor3 loaded with shape: (525600, 31)
DataFrame: 2019Floor2 loaded with shape: (525600, 38)
DataFrame: 2018Floor6 loaded with shape: (264960, 31)
DataFrame: 2018Floor7 loaded with shape: (264960, 31)
DataFrame: 2018Floor5 loaded with shape: (264960, 31)
DataFrame: 2018Floor4 loaded with shape: (264960, 31)
DataFrame: 2018Floor1 loaded with shape: (264960, 13)
DataFrame: 2018Floor3 loaded with shape: (264960, 31)
DataFrame: 2018Floor2 loaded with shape: (264960, 38)

In [4]:
uf.check_column_names(dataframes)

DataFrame: 2019Floor6
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_AC2(kW)', 'z4_AC3(kW)', 'z4_AC4(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2019Floor7
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2019Floor5
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2019Floor4
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2019Floor1
Columns: ['DataFrame Name', 'Date', 'z1_Light(kW)', 'z1_Plug(kW)', 'z2_AC1(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_Light(kW)']

DataFrame: 2019Floor3
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2019Floor2
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)', 'z2_AC5(kW)', 'z2_AC6(kW)', 'z2_AC7(kW)', 'z2_AC8(kW)', 'z2_AC9(kW)', 'z2_AC10(kW)', 'z2_AC11(kW)', 'z2_AC12(kW)', 'z2_AC13(kW)', 'z2_AC14(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z3_S1(degC)', 'z3_S1(RH%)', 'z3_S1(lux)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)']

DataFrame: 2018Floor6
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_AC2(kW)', 'z4_AC3(kW)', 'z4_AC4(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2018Floor7
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2018Floor5
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2018Floor4
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2018Floor1
Columns: ['DataFrame Name', 'Date', 'z1_Light(kW)', 'z1_Plug(kW)', 'z2_AC1(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_Light(kW)']

DataFrame: 2018Floor3
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)']

DataFrame: 2018Floor2
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)', 'z2_AC5(kW)', 'z2_AC6(kW)', 'z2_AC7(kW)', 'z2_AC8(kW)', 'z2_AC9(kW)', 'z2_AC10(kW)', 'z2_AC11(kW)', 'z2_AC12(kW)', 'z2_AC13(kW)', 'z2_AC14(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z3_S1(degC)', 'z3_S1(RH%)', 'z3_S1(lux)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)']

Data is saved in dictionary of dataframes called `dataframe`

In [5]:
uf.column_presence_checker(dataframes)

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(RH%),z1_S1(degC),...,z4_Plug(kW),z4_S1(RH%),z4_S1(degC),z4_S1(lux),z5_AC1(kW),z5_Light(kW),z5_Plug(kW),z5_S1(RH%),z5_S1(degC),z5_S1(lux)
0,2019Floor6,object,float64,Column not present,Column not present,Column not present,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
1,2019Floor7,object,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
2,2019Floor5,object,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
3,2019Floor4,object,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
4,2019Floor1,object,Column not present,Column not present,Column not present,Column not present,float64,float64,Column not present,Column not present,...,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
5,2019Floor3,object,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
6,2019Floor2,object,float64,Column not present,Column not present,Column not present,float64,float64,float64,float64,...,float64,float64,float64,float64,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
7,2018Floor6,object,float64,Column not present,Column not present,Column not present,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
8,2018Floor7,object,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
9,2018Floor5,object,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
10,2018Floor4,object,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
11,2018Floor1,object,Column not present,Column not present,Column not present,Column not present,float64,float64,Column not present,Column not present,...,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
12,2018Floor3,object,float64,float64,float64,float64,float64,float64,float64,float64,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
13,2018Floor2,object,float64,Column not present,Column not present,Column not present,float64,float64,float64,float64,...,float64,float64,float64,float64,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present

In [6]:
dataframes = uf.convert_date_columns(dataframes, 'Date')
dataframes = uf.transform_date_features_dict(dataframes, 'Date')
uf.preview_dict_of_dfs(dataframes, n=2)

DataFrame: 2019Floor6 - Converted Date to datetime
DataFrame: 2019Floor7 - Converted Date to datetime
DataFrame: 2019Floor5 - Converted Date to datetime
DataFrame: 2019Floor4 - Converted Date to datetime
DataFrame: 2019Floor1 - Converted Date to datetime
DataFrame: 2019Floor3 - Converted Date to datetime
DataFrame: 2019Floor2 - Converted Date to datetime
DataFrame: 2018Floor6 - Converted Date to datetime
DataFrame: 2018Floor7 - Converted Date to datetime
DataFrame: 2018Floor5 - Converted Date to datetime
DataFrame: 2018Floor4 - Converted Date to datetime
DataFrame: 2018Floor1 - Converted Date to datetime
DataFrame: 2018Floor3 - Converted Date to datetime
DataFrame: 2018Floor2 - Converted Date to datetime
Preview of DataFrame for 2019Floor6:

,DataFrame Name,Date,z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),z2_AC1(kW),z2_Light(kW),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2019Floor6,2019-01-01 00:00:00,0.0,0.0,0.20,NaN,NaN,NaN,0.0,0.01,...,0.0,0.01,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349
1,2019Floor6,2019-01-01 00:01:00,0.0,0.0,0.16,NaN,NaN,NaN,0.0,0.01,...,0.0,0.01,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349

Preview of DataFrame for 2019Floor7:

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2019Floor7,2019-01-01 00:00:00,0.0,0.0,0.01,0.0,0.0,0.13,NaN,NaN,...,0.0,0.08,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349
1,2019Floor7,2019-01-01 00:01:00,0.0,0.0,0.01,0.0,0.0,0.12,NaN,NaN,...,0.0,0.08,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349

Preview of DataFrame for 2019Floor5:

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2019Floor5,2019-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.13,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349
1,2019Floor5,2019-01-01 00:01:00,0.0,0.0,0.0,0.0,0.0,0.13,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349

Preview of DataFrame for 2019Floor4:

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2019Floor4,2019-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.27,NaN,NaN,...,0.0,0.04,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349
1,2019Floor4,2019-01-01 00:01:00,0.0,0.0,0.0,0.0,0.0,0.27,NaN,NaN,...,0.0,0.04,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349

Preview of DataFrame for 2019Floor1:

,DataFrame Name,Date,z1_Light(kW),z1_Plug(kW),z2_AC1(kW),z2_AC2(kW),z2_AC3(kW),z2_AC4(kW),z2_Light(kW),z2_Plug(kW),z3_Light(kW),z3_Plug(kW),z4_Light(kW),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2019Floor1,2019-01-01 00:00:00,0.03,0.58,2.31,21.15,0.01,0.02,17.37,15.20,10.01,0.38,14.58,0,0.5,0.866025,0.781831,0.62349
1,2019Floor1,2019-01-01 00:01:00,0.00,0.58,2.31,35.07,0.00,0.02,17.34,19.16,9.98,0.37,14.57,0,0.5,0.866025,0.781831,0.62349

Preview of DataFrame for 2019Floor3:

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2019Floor3,2019-01-01 00:00:00,0.0,0.0,0.0,0.07,0.0,0.03,NaN,NaN,...,0.0,0.02,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349
1,2019Floor3,2019-01-01 00:01:00,0.0,0.0,0.0,0.07,0.0,0.03,NaN,NaN,...,0.0,0.02,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349

Preview of DataFrame for 2019Floor2:

,DataFrame Name,Date,z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),z2_AC1(kW),z2_AC2(kW),...,z4_Light(kW),z4_Plug(kW),z4_S1(degC),z4_S1(RH%),z4_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2019Floor2,2019-01-01 00:00:00,0.0,0.31,0.09,NaN,NaN,NaN,0.0,1.15,...,0.0,0.0,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349
1,2019Floor2,2019-01-01 00:01:00,0.0,0.31,0.09,NaN,NaN,NaN,0.0,1.14,...,0.0,0.0,NaN,NaN,NaN,0,0.5,0.866025,0.781831,0.62349

Preview of DataFrame for 2018Floor6:

,DataFrame Name,Date,z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),z2_AC1(kW),z2_Light(kW),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2018Floor6,2018-07-01 00:00:00,0.0,0.0,0.31,27.57,72.19,0.0,0.0,0.01,...,0.0,0.01,28.9,68.48,0.0,1,-0.5,-0.866025,-0.781831,0.62349
1,2018Floor6,2018-07-01 00:01:00,0.0,0.0,0.31,27.57,72.18,0.0,0.0,0.01,...,0.0,0.01,28.9,68.48,0.0,1,-0.5,-0.866025,-0.781831,0.62349

Preview of DataFrame for 2018Floor7:

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2018Floor7,2018-07-01 00:00:00,0.0,0.0,0.01,0.0,0.0,0.02,28.23,64.42,...,0.0,0.03,28.93,66.72,0.0,1,-0.5,-0.866025,-0.781831,0.62349
1,2018Floor7,2018-07-01 00:01:00,0.0,0.0,0.01,0.0,0.0,0.02,28.23,64.42,...,0.0,0.03,28.92,66.70,0.0,1,-0.5,-0.866025,-0.781831,0.62349

Preview of DataFrame for 2018Floor5:

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2018Floor5,2018-07-01 00:00:00,0.0,0.0,0.0,0.0,0.34,0.17,27.54,68.29,...,0.0,0.01,28.16,68.51,1.0,1,-0.5,-0.866025,-0.781831,0.62349
1,2018Floor5,2018-07-01 00:01:00,0.0,0.0,0.0,0.0,0.33,0.17,27.54,68.30,...,0.0,0.01,28.17,68.50,1.0,1,-0.5,-0.866025,-0.781831,0.62349

Preview of DataFrame for 2018Floor4:

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2018Floor4,2018-07-01 00:00:00,0.0,0.0,0.0,8.74,0.0,0.22,28.28,62.5,...,0.0,0.15,27.73,62.86,0.0,1,-0.5,-0.866025,-0.781831,0.62349
1,2018Floor4,2018-07-01 00:01:00,0.0,0.0,0.0,8.74,0.0,0.23,28.29,62.5,...,0.0,0.14,27.73,62.87,0.0,1,-0.5,-0.866025,-0.781831,0.62349

Preview of DataFrame for 2018Floor1:

,DataFrame Name,Date,z1_Light(kW),z1_Plug(kW),z2_AC1(kW),z2_AC2(kW),z2_AC3(kW),z2_AC4(kW),z2_Light(kW),z2_Plug(kW),z3_Light(kW),z3_Plug(kW),z4_Light(kW),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2018Floor1,2018-07-01 00:00:00,12.94,18.56,45.24,0.01,0.01,0.00,13.76,17.64,10.92,0.89,35.76,1,-0.5,-0.866025,-0.781831,0.62349
1,2018Floor1,2018-07-01 00:01:00,12.97,18.55,45.28,0.02,0.01,0.01,13.76,17.21,10.95,0.87,35.81,1,-0.5,-0.866025,-0.781831,0.62349

Preview of DataFrame for 2018Floor3:

,DataFrame Name,Date,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),z1_AC4(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),...,z5_Light(kW),z5_Plug(kW),z5_S1(degC),z5_S1(RH%),z5_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2018Floor3,2018-07-01 00:00:00,0.0,0.0,0.0,0.07,0.0,0.03,28.44,60.67,...,0.0,0.02,26.88,71.16,0.0,1,-0.5,-0.866025,-0.781831,0.62349
1,2018Floor3,2018-07-01 00:01:00,0.0,0.0,0.0,0.07,0.0,0.03,28.44,60.67,...,0.0,0.02,26.88,71.16,0.0,1,-0.5,-0.866025,-0.781831,0.62349

Preview of DataFrame for 2018Floor2:

,DataFrame Name,Date,z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),z2_AC1(kW),z2_AC2(kW),...,z4_Light(kW),z4_Plug(kW),z4_S1(degC),z4_S1(RH%),z4_S1(lux),is_weekend,month_sin,month_cos,day_of_week_sin,day_of_week_cos
0,2018Floor2,2018-07-01 00:00:00,0.0,0.01,0.15,28.36,58.93,0.0,1.08,0.0,...,0.0,0.0,NaN,NaN,NaN,1,-0.5,-0.866025,-0.781831,0.62349
1,2018Floor2,2018-07-01 00:01:00,0.0,0.01,0.15,28.36,58.91,0.0,1.07,0.0,...,0.0,0.0,NaN,NaN,NaN,1,-0.5,-0.866025,-0.781831,0.62349

In [7]:
uf.nan_checker(dataframes)

,DataFrame Name,Date,day_of_week_cos,day_of_week_sin,is_weekend,month_cos,month_sin,z1_AC1(kW),z1_AC2(kW),z1_AC3(kW),...,z4_Plug(kW),z4_S1(RH%),z4_S1(degC),z4_S1(lux),z5_AC1(kW),z5_Light(kW),z5_Plug(kW),z5_S1(RH%),z5_S1(degC),z5_S1(lux)
0,No NaNs,Some NaNs,Some NaNs,Some NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,Column not present,Column not present,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
1,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
2,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
3,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
4,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Column not present,Column not present,Column not present,...,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
5,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
6,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Column not present,Column not present,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
7,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Column not present,Column not present,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
8,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
9,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
10,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
11,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Column not present,Column not present,Column not present,...,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
12,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Some NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
13,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,Column not present,Column not present,...,Some NaNs,All NaNs,All NaNs,All NaNs,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present

# Create Target Column

## Create Total Consumption (kW) Column

In [8]:
# Assuming you have already loaded the dataframes into the `dataframes` dictionary
dataframes = uf.add_total_consumption_column(dataframes)

DataFrame: 2019Floor6 - Added total_consumption(kW) column
DataFrame: 2019Floor7 - Added total_consumption(kW) column
DataFrame: 2019Floor5 - Added total_consumption(kW) column
DataFrame: 2019Floor4 - Added total_consumption(kW) column
DataFrame: 2019Floor1 - Added total_consumption(kW) column
DataFrame: 2019Floor3 - Added total_consumption(kW) column
DataFrame: 2019Floor2 - Added total_consumption(kW) column
DataFrame: 2018Floor6 - Added total_consumption(kW) column
DataFrame: 2018Floor7 - Added total_consumption(kW) column
DataFrame: 2018Floor5 - Added total_consumption(kW) column
DataFrame: 2018Floor4 - Added total_consumption(kW) column
DataFrame: 2018Floor1 - Added total_consumption(kW) column
DataFrame: 2018Floor3 - Added total_consumption(kW) column
DataFrame: 2018Floor2 - Added total_consumption(kW) column

In [9]:
time_grain = 'minute'
date_column_name = 'Date'  # Replace with the actual date column name
dataframes = uf.add_kwh_column(dataframes, time_grain, date_column_name)

DataFrame: 2019Floor6 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2019Floor7 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2019Floor5 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2019Floor4 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2019Floor1 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2019Floor3 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2019Floor2 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2018Floor6 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2018Floor7 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2018Floor5 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2018Floor4 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2018Floor1 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2018Floor3 - Added total_consumption(kWh) column for time grain: minute
DataFrame: 2018Floor2 - Added total_consumption(kWh) column for time grain: minute

In [10]:
dataframes = uf.restructure_dataframes(dataframes)
uf.nan_checker(dataframes)

DataFrame: 2019Floor6 - 'DataFrame Name' column moved
DataFrame: 2019Floor6 - 'Date' column moved
DataFrame: 2019Floor6 - 'total_consumption(kW)' column moved
DataFrame: 2019Floor7 - 'DataFrame Name' column moved
DataFrame: 2019Floor7 - 'Date' column moved
DataFrame: 2019Floor7 - 'total_consumption(kW)' column moved
DataFrame: 2019Floor5 - 'DataFrame Name' column moved
DataFrame: 2019Floor5 - 'Date' column moved
DataFrame: 2019Floor5 - 'total_consumption(kW)' column moved
DataFrame: 2019Floor4 - 'DataFrame Name' column moved
DataFrame: 2019Floor4 - 'Date' column moved
DataFrame: 2019Floor4 - 'total_consumption(kW)' column moved
DataFrame: 2019Floor1 - 'DataFrame Name' column moved
DataFrame: 2019Floor1 - 'Date' column moved
DataFrame: 2019Floor1 - 'total_consumption(kW)' column moved
DataFrame: 2019Floor3 - 'DataFrame Name' column moved
DataFrame: 2019Floor3 - 'Date' column moved
DataFrame: 2019Floor3 - 'total_consumption(kW)' column moved
DataFrame: 2019Floor2 - 'DataFrame Name' column moved
DataFrame: 2019Floor2 - 'Date' column moved
DataFrame: 2019Floor2 - 'total_consumption(kW)' column moved
DataFrame: 2018Floor6 - 'DataFrame Name' column moved
DataFrame: 2018Floor6 - 'Date' column moved
DataFrame: 2018Floor6 - 'total_consumption(kW)' column moved
DataFrame: 2018Floor7 - 'DataFrame Name' column moved
DataFrame: 2018Floor7 - 'Date' column moved
DataFrame: 2018Floor7 - 'total_consumption(kW)' column moved
DataFrame: 2018Floor5 - 'DataFrame Name' column moved
DataFrame: 2018Floor5 - 'Date' column moved
DataFrame: 2018Floor5 - 'total_consumption(kW)' column moved
DataFrame: 2018Floor4 - 'DataFrame Name' column moved
DataFrame: 2018Floor4 - 'Date' column moved
DataFrame: 2018Floor4 - 'total_consumption(kW)' column moved
DataFrame: 2018Floor1 - 'DataFrame Name' column moved
DataFrame: 2018Floor1 - 'Date' column moved
DataFrame: 2018Floor1 - 'total_consumption(kW)' column moved
DataFrame: 2018Floor3 - 'DataFrame Name' column moved
DataFrame: 2018Floor3 - 'Date' column moved
DataFrame: 2018Floor3 - 'total_consumption(kW)' column moved
DataFrame: 2018Floor2 - 'DataFrame Name' column moved
DataFrame: 2018Floor2 - 'Date' column moved
DataFrame: 2018Floor2 - 'total_consumption(kW)' column moved

,DataFrame Name,Date,day_of_week_cos,day_of_week_sin,is_weekend,month_cos,month_sin,total_consumption(kW),total_consumption(kWh)_minute,z1_AC1(kW),...,z4_Plug(kW),z4_S1(RH%),z4_S1(degC),z4_S1(lux),z5_AC1(kW),z5_Light(kW),z5_Plug(kW),z5_S1(RH%),z5_S1(degC),z5_S1(lux)
0,No NaNs,Some NaNs,Some NaNs,Some NaNs,No NaNs,Some NaNs,Some NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
1,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
2,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
3,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
4,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Column not present,...,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
5,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
6,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
7,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
8,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
9,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
10,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
11,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Column not present,...,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
12,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs,Some NaNs
13,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Some NaNs,...,Some NaNs,All NaNs,All NaNs,All NaNs,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present

# Data Cleaning

## Imputing missing values with column averages by each dataframe

In [11]:
dataframes = uf.impute_missing_values(dataframes)

DataFrame: 2019Floor6 - NaNs filled with column means
DataFrame: 2019Floor7 - NaNs filled with column means
DataFrame: 2019Floor5 - NaNs filled with column means
DataFrame: 2019Floor4 - NaNs filled with column means
DataFrame: 2019Floor1 - NaNs filled with column means
DataFrame: 2019Floor3 - NaNs filled with column means
DataFrame: 2019Floor2 - NaNs filled with column means
DataFrame: 2018Floor6 - NaNs filled with column means
DataFrame: 2018Floor7 - NaNs filled with column means
DataFrame: 2018Floor5 - NaNs filled with column means
DataFrame: 2018Floor4 - NaNs filled with column means
DataFrame: 2018Floor1 - NaNs filled with column means
DataFrame: 2018Floor3 - NaNs filled with column means
DataFrame: 2018Floor2 - NaNs filled with column means

In [12]:
uf.nan_checker(dataframes)

,DataFrame Name,Date,day_of_week_cos,day_of_week_sin,is_weekend,month_cos,month_sin,total_consumption(kW),total_consumption(kWh)_minute,z1_AC1(kW),...,z4_Plug(kW),z4_S1(RH%),z4_S1(degC),z4_S1(lux),z5_AC1(kW),z5_Light(kW),z5_Plug(kW),z5_S1(RH%),z5_S1(degC),z5_S1(lux)
0,No NaNs,Some NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
1,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
2,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
3,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
4,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Column not present,...,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
5,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
6,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
7,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
8,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
9,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
10,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
11,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,Column not present,...,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present
12,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs
13,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,No NaNs,...,No NaNs,All NaNs,All NaNs,All NaNs,Column not present,Column not present,Column not present,Column not present,Column not present,Column not present

# Merging all dataframes by floor and adding column for source names

In [13]:
merged_dfs = uf.merge_datasets_by_floor(dataframes)

for key, df in merged_dfs.items():
    print(f"DataFrame: {key}")

DataFrame: Floor6
DataFrame: Floor7
DataFrame: Floor5
DataFrame: Floor4
DataFrame: Floor1
DataFrame: Floor3
DataFrame: Floor2

In [14]:
merged_dfs = uf.restructure_dataframes(merged_dfs)

DataFrame: Floor6 - 'DataFrame Name' column moved
DataFrame: Floor6 - 'Date' column moved
DataFrame: Floor6 - 'total_consumption(kW)' column moved
DataFrame: Floor7 - 'DataFrame Name' column moved
DataFrame: Floor7 - 'Date' column moved
DataFrame: Floor7 - 'total_consumption(kW)' column moved
DataFrame: Floor5 - 'DataFrame Name' column moved
DataFrame: Floor5 - 'Date' column moved
DataFrame: Floor5 - 'total_consumption(kW)' column moved
DataFrame: Floor4 - 'DataFrame Name' column moved
DataFrame: Floor4 - 'Date' column moved
DataFrame: Floor4 - 'total_consumption(kW)' column moved
DataFrame: Floor1 - 'DataFrame Name' column moved
DataFrame: Floor1 - 'Date' column moved
DataFrame: Floor1 - 'total_consumption(kW)' column moved
DataFrame: Floor3 - 'DataFrame Name' column moved
DataFrame: Floor3 - 'Date' column moved
DataFrame: Floor3 - 'total_consumption(kW)' column moved
DataFrame: Floor2 - 'DataFrame Name' column moved
DataFrame: Floor2 - 'Date' column moved
DataFrame: Floor2 - 'total_consumption(kW)' column moved

In [15]:
uf.check_column_names(merged_dfs)

DataFrame: Floor6
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'total_consumption(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_AC2(kW)', 'z4_AC3(kW)', 'z4_AC4(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)', 'is_weekend', 'month_sin', 'month_cos', 'day_of_week_sin', 'day_of_week_cos', 'total_consumption(kWh)_minute']

DataFrame: Floor7
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'total_consumption(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)', 'is_weekend', 'month_sin', 'month_cos', 'day_of_week_sin', 'day_of_week_cos', 'total_consumption(kWh)_minute']

DataFrame: Floor5
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'total_consumption(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)', 'is_weekend', 'month_sin', 'month_cos', 'day_of_week_sin', 'day_of_week_cos', 'total_consumption(kWh)_minute']

DataFrame: Floor4
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'total_consumption(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)', 'is_weekend', 'month_sin', 'month_cos', 'day_of_week_sin', 'day_of_week_cos', 'total_consumption(kWh)_minute']

DataFrame: Floor1
Columns: ['DataFrame Name', 'Date', 'z1_Light(kW)', 'total_consumption(kW)', 'z1_Plug(kW)', 'z2_AC1(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_Light(kW)', 'is_weekend', 'month_sin', 'month_cos', 'day_of_week_sin', 'day_of_week_cos', 'total_consumption(kWh)_minute']

DataFrame: Floor3
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'total_consumption(kW)', 'z1_AC2(kW)', 'z1_AC3(kW)', 'z1_AC4(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)', 'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)', 'is_weekend', 'month_sin', 'month_cos', 'day_of_week_sin', 'day_of_week_cos', 'total_consumption(kWh)_minute']

DataFrame: Floor2
Columns: ['DataFrame Name', 'Date', 'z1_AC1(kW)', 'total_consumption(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)', 'z2_AC5(kW)', 'z2_AC6(kW)', 'z2_AC7(kW)', 'z2_AC8(kW)', 'z2_AC9(kW)', 'z2_AC10(kW)', 'z2_AC11(kW)', 'z2_AC12(kW)', 'z2_AC13(kW)', 'z2_AC14(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z3_S1(degC)', 'z3_S1(RH%)', 'z3_S1(lux)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)', 'is_weekend', 'month_sin', 'month_cos', 'day_of_week_sin', 'day_of_week_cos', 'total_consumption(kWh)_minute']

In [16]:
import pandas as pd
from IPython.display import display

# Assuming dataframes is a dictionary of DataFrames
merged_df = pd.concat(dataframes.values(), ignore_index=True)

# Identify the column that starts with 'total_consumption(kWh)_'
total_consumption_kwh_col = [col for col in merged_df.columns if col.startswith('total_consumption(kWh)_')][0]

# Specify the desired order of columns
desired_order = ['DataFrame Name', 'Date', total_consumption_kwh_col, 'total_consumption(kW)'] + \
                [col for col in merged_df.columns if col not in ['DataFrame Name', 'Date', total_consumption_kwh_col, 'total_consumption(kW)']]

# Reorder the columns
merged_df = merged_df[desired_order]

# Display the DataFrame
display(merged_df)

,DataFrame Name,Date,total_consumption(kWh)_minute,total_consumption(kW),z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),...,z2_AC8(kW),z2_AC9(kW),z2_AC10(kW),z2_AC11(kW),z2_AC12(kW),z2_AC13(kW),z2_AC14(kW),z3_S1(degC),z3_S1(RH%),z3_S1(lux)
0,2019Floor6,2019-01-01 00:00:00,0.009500,0.57,0.0,0.00,0.20,25.265273,64.905390,19.108752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019Floor6,2019-01-01 00:01:00,0.008833,0.53,0.0,0.00,0.16,25.265273,64.905390,19.108752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019Floor6,2019-01-01 00:02:00,0.008833,0.53,0.0,0.00,0.16,25.265273,64.905390,19.108752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019Floor6,2019-01-01 00:03:00,0.008833,0.53,0.0,0.00,0.16,25.265273,64.905390,19.108752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019Floor6,2019-01-01 00:04:00,0.009000,0.54,0.0,0.00,0.16,25.265273,64.905390,19.108752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5432484,2018Floor2,2018-12-31 23:55:00,0.125167,7.51,0.0,0.32,0.09,26.064966,56.786173,29.771853,...,0.84,0.0,0.93,0.0,0.0,0.0,0.0,28.972598,62.4072,2.13601
5432485,2018Floor2,2018-12-31 23:56:00,0.128000,7.68,0.0,0.31,0.09,26.064966,56.786173,29.771853,...,0.87,0.0,0.96,0.0,0.0,0.0,0.0,28.972598,62.4072,2.13601
5432486,2018Floor2,2018-12-31 23:57:00,0.126667,7.60,0.0,0.31,0.09,26.064966,56.786173,29.771853,...,0.86,0.0,0.95,0.0,0.0,0.0,0.0,28.972598,62.4072,2.13601
5432487,2018Floor2,2018-12-31 23:58:00,0.105167,6.31,0.0,0.31,0.09,26.064966,56.786173,29.771853,...,0.55,0.0,0.61,0.0,0.0,0.0,0.0,28.972598,62.4072,2.13601
5432488,2018Floor2,2018-12-31 23:59:00,0.064333,3.86,0.0,0.31,0.09,26.064966,56.786173,29.771853,...,0.00,0.0,0.00,0.0,0.0,0.0,0.0,28.972598,62.4072,2.13601

In [17]:
merged_df.columns

Index(['DataFrame Name', 'Date', 'total_consumption(kWh)_minute',
       'total_consumption(kW)', 'z1_AC1(kW)', 'z1_Light(kW)', 'z1_Plug(kW)',
       'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_Light(kW)',
       'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)',
       'z3_Light(kW)', 'z3_Plug(kW)', 'z4_AC1(kW)', 'z4_AC2(kW)', 'z4_AC3(kW)',
       'z4_AC4(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)',
       'z4_S1(RH%)', 'z4_S1(lux)', 'z5_AC1(kW)', 'z5_Light(kW)', 'z5_Plug(kW)',
       'z5_S1(degC)', 'z5_S1(RH%)', 'z5_S1(lux)', 'is_weekend', 'month_sin',
       'month_cos', 'day_of_week_sin', 'day_of_week_cos', 'z1_AC2(kW)',
       'z1_AC3(kW)', 'z1_AC4(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)',
       'z2_AC5(kW)', 'z2_AC6(kW)', 'z2_AC7(kW)', 'z2_AC8(kW)', 'z2_AC9(kW)',
       'z2_AC10(kW)', 'z2_AC11(kW)', 'z2_AC12(kW)', 'z2_AC13(kW)',
       'z2_AC14(kW)', 'z3_S1(degC)', 'z3_S1(RH%)', 'z3_S1(lux)'],
      dtype='object')

In [18]:
# from ingestion_utils import fetch_weather_data

# api_key = "BKB2RPATYBUZH9C3VXG83LZDW"
# location = "Bangkok,Thailand"
# start_date = "2019-01-01"
# end_date = "2019-12-31"

# weather_data = fetch_weather_data(location, start_date, end_date, api_key)

# if weather_data:
#     print(json.dumps(weather_data, indent=4))

In [19]:
#constraint temperature ac
# total_consumption_AC_Zone1 = B1consumptionAC1 + B1consumptionAC2 + B3consumptionAC3 + Ambient_temperature_Zone1 + Relative_humidity_Zone1 + Outdoor_temperature + Outdoor_relative_humidity
# find liner equeations for:

# convert all kW columns to kWh? -> yes

# add verbose options to functions